<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,246}</string>
                <key>spriteSourceSize</key>
                <string>{182,246}</string>
                <key>textureRect</key>
                <string>{{1,247},{182,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,253}</string>
                <key>spriteSourceSize</key>
                <string>{189,253}</string>
                <key>textureRect</key>
                <string>{{185,247},{189,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,260}</string>
                <key>spriteSourceSize</key>
                <string>{187,260}</string>
                <key>textureRect</key>
                <string>{{773,765},{187,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,274}</string>
                <key>spriteSourceSize</key>
                <string>{218,274}</string>
                <key>textureRect</key>
                <string>{{198,1564},{218,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,263}</string>
                <key>spriteSourceSize</key>
                <string>{209,263}</string>
                <key>textureRect</key>
                <string>{{186,1027},{209,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,253}</string>
                <key>spriteSourceSize</key>
                <string>{176,253}</string>
                <key>textureRect</key>
                <string>{{580,247},{176,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,244}</string>
                <key>spriteSourceSize</key>
                <string>{203,244}</string>
                <key>textureRect</key>
                <string>{{810,1},{203,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,241}</string>
                <key>spriteSourceSize</key>
                <string>{230,241}</string>
                <key>textureRect</key>
                <string>{{373,1},{230,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{1,1564},{195,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,260}</string>
                <key>spriteSourceSize</key>
                <string>{186,260}</string>
                <key>textureRect</key>
                <string>{{401,765},{186,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,264}</string>
                <key>spriteSourceSize</key>
                <string>{197,264}</string>
                <key>textureRect</key>
                <string>{{397,1027},{197,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,253}</string>
                <key>spriteSourceSize</key>
                <string>{202,253}</string>
                <key>textureRect</key>
                <string>{{376,247},{202,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,264}</string>
                <key>spriteSourceSize</key>
                <string>{201,264}</string>
                <key>textureRect</key>
                <string>{{797,1027},{201,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,259}</string>
                <key>spriteSourceSize</key>
                <string>{207,259}</string>
                <key>textureRect</key>
                <string>{{192,765},{207,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,260}</string>
                <key>spriteSourceSize</key>
                <string>{182,260}</string>
                <key>textureRect</key>
                <string>{{589,765},{182,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,243}</string>
                <key>spriteSourceSize</key>
                <string>{203,243}</string>
                <key>textureRect</key>
                <string>{{605,1},{203,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,262}</string>
                <key>spriteSourceSize</key>
                <string>{183,262}</string>
                <key>textureRect</key>
                <string>{{1,1027},{183,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,269}</string>
                <key>spriteSourceSize</key>
                <string>{180,269}</string>
                <key>textureRect</key>
                <string>{{575,1293},{180,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,234}</string>
                <key>spriteSourceSize</key>
                <string>{187,234}</string>
                <key>textureRect</key>
                <string>{{184,1},{187,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,259}</string>
                <key>spriteSourceSize</key>
                <string>{200,259}</string>
                <key>textureRect</key>
                <string>{{790,504},{200,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,232}</string>
                <key>spriteSourceSize</key>
                <string>{181,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,265}</string>
                <key>spriteSourceSize</key>
                <string>{191,265}</string>
                <key>textureRect</key>
                <string>{{195,1293},{191,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,256}</string>
                <key>spriteSourceSize</key>
                <string>{204,256}</string>
                <key>textureRect</key>
                <string>{{1,504},{204,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,255}</string>
                <key>spriteSourceSize</key>
                <string>{176,255}</string>
                <key>textureRect</key>
                <string>{{758,247},{176,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,276}</string>
                <key>spriteSourceSize</key>
                <string>{223,276}</string>
                <key>textureRect</key>
                <string>{{418,1564},{223,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,259}</string>
                <key>spriteSourceSize</key>
                <string>{207,259}</string>
                <key>textureRect</key>
                <string>{{581,504},{207,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,281}</string>
                <key>spriteSourceSize</key>
                <string>{213,281}</string>
                <key>textureRect</key>
                <string>{{643,1564},{213,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,257}</string>
                <key>spriteSourceSize</key>
                <string>{186,257}</string>
                <key>textureRect</key>
                <string>{{207,504},{186,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,269}</string>
                <key>spriteSourceSize</key>
                <string>{190,269}</string>
                <key>textureRect</key>
                <string>{{757,1293},{190,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,257}</string>
                <key>spriteSourceSize</key>
                <string>{184,257}</string>
                <key>textureRect</key>
                <string>{{395,504},{184,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,266}</string>
                <key>spriteSourceSize</key>
                <string>{185,266}</string>
                <key>textureRect</key>
                <string>{{388,1293},{185,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,265}</string>
                <key>spriteSourceSize</key>
                <string>{192,265}</string>
                <key>textureRect</key>
                <string>{{1,1293},{192,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,264}</string>
                <key>spriteSourceSize</key>
                <string>{199,264}</string>
                <key>textureRect</key>
                <string>{{596,1027},{199,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,259}</string>
                <key>spriteSourceSize</key>
                <string>{189,259}</string>
                <key>textureRect</key>
                <string>{{1,765},{189,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Texture.png</string>
            <key>size</key>
            <string>{1014,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b149b48c10d21cbbdf50e07f12278f:9b2443e22b27d5ad1f2167e2fb28a851:f46617b9879efc77edf243fcb535d10c$</string>
            <key>textureFileName</key>
            <string>Texture.png</string>
        </dict>
    </dict>
</plist>
